.Najmaa {
  font-size: 22px;
  color: #333333;
}

.inpput {
  background-color: #6e6e6e;
  height: 60px;
}
.inpput input {
  margin-left: 1300px;
  margin-top: 20px;
  border-radius: 18px;
}
.Najmaa {
  color: #ffb00b;
}
